<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title_base_text("QuakiSmart",yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= stylesheet_link_tag('public','admin',media: "all", "data-turbolinks-track" => true) %>
 	<%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>	 
	<div id="quaki-main">
		<nav class="quaki-nav">
    		<div class="quaki-nav-inner">
    			<ul class="quaki-hmenu">
    				<li><a href="#" class="active">Analytics</a></li>
    				<li><a href="#">About Us</a></li>
    				<li><a href="#">Github</a></li>
    			</ul> 
        	</div>
    	</nav>
    	
    	<div id="quaki-logo">
    		<%= link_to image_tag('logo_quakismart.png', :alt => "QuakiSmart Logo"), "http://quakismart.herokuapp.com/" %>
    	</div>
    	
    	<div class="quaki-sheet clearfix">    	
    		<%= yield %>    	
    	</div>	
    	
    	<footer class="quaki-footer">
	  		<div class="quaki-footer-inner">
				<p><a href="#">Analytics</a> | <a href="#">About Us</a> | <a href="#">Github</a></p>
				<p>Copyright © 2013. Portland Code School. All Rights Reserved. Napoleon Kernessant, final Project</p>
	  		</div>
		</footer>
	</div>
    <%= javascript_include_tag "application" %>
  </body>
</html>